.footer__container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}


footer {
    background-color: black;
    color: white;
    justify-content: space-between;
    background-image: url("../pictures/bg/a.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo {
    width: 150px;
}

.footer__logo img {
    width: 100px;
}

.footer__logo>p {
    font-size: 12px;
    margin-top: 8px;
}

footer .footer__content {
    display: flex;
    width: 60%;
    margin: auto;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

footer .footer__content>.footer__block p {
    font-size: 12px;
    max-width: 80%;
}

.footer__block p:nth-child(1) {
    color: rgb(190, 67, 67);
}

footer .footer__content>.footer__block>p:first-child {
    font-size: 17px;
    margin: 10px 0px;
}

.promoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 135, 65);
    padding: 10px;
}

.promoFooter>a {
    color: inherit;
}

.promoFooter>a>i {
    color: inherit;
    font-size: 30px;
    margin: 0px 15px;
    color: white;
    cursor: pointer;
}

.promoFooter>a>i:hover {
    filter: brightness(0.8);
}