.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 900;
    background-color: #1F1F1F;
    width: 100%;
    backdrop-filter: blur(10px);
    height: 80px;
    font-family: "Poppins", sans-serif;
}