.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    overflow: hidden;
    color: white;
}

.auth img {
    width: 800px;
    height: 582px;
    object-fit: fill;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.auth__selectionPage {
    display: flex;
}

.auth__selectionPage h2 {
    margin: 15px;
    cursor: pointer;
    font-size: 14px;
}

.auth button {
    border: none;
    background-color: #cb4747;
    padding: 9px;
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
}

.btn-auth {
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin: 3px 0px;
    animation-name: appearsSlowlyFromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.auth input {
    height: 40px;
    margin: 15px 0;
    outline: none;
    padding-left: 15px;
    width: 100%;
}

.auth__selectionPage__header h2 {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.auth__selectionPage__header img{
    display:none;
}

.bgDeep-true {
    color: #cb4747;
}

.bgDeep-true::after {
    content: "";
    bottom: -4px;
    height: 1px;
    width: 100%;
    background-color: #cb4747;
    content: "";
    position: absolute;
    left: 0;

}

.bgDeep-false {
    color: #A19F9BBD;
}

.auth__selectionPage__header {
    display: flex;
}


.auth h1 {
    font-size: 26px;
    margin-bottom: 13px;
}

.auth__selectionPage {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
    height: 582px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.auth button {
    cursor: pointer;
}

.auth label {
    font-weight: 600;
    font-size: 14px;
}

.passwordCheck {
    color: green;
}

.signUp__passwordContainer {
    position: relative;
}

.passwordVerification {
    position: absolute;
    top: 25px;
    right: 14px;
    animation-name: heart;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pwd_indications {
    font-size: 12px;
    display: flex;
    color: rgb(110, 135, 65);
}

/* Bannier auth   */
.authBanner {
    position: relative;
}

.authBanner p {
    position: absolute;
    top: 44px;
    font-size: 37px;
    color: black;
    left: 28px;
    font-weight: 500;
}