.profil {
    color: white;
    padding: 30px;
}

.profil__content {
    width: 39%;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    padding: 40px;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .3);
}

.profil__content>h2 {
    color: white;
    margin-bottom: 34px;
}

/*formulaire */

.profil form label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    color: white;
    margin: 5px 0px;
    font-size: 13px;
    margin: 0px;
}

.textPopular i {
    color: red;
    font-size: 12px;
    margin: 0px 5px;
}

.mostLikedRecipe--number {
    margin: 0px 5px;
}

.textPopular a:hover {
    filter: brightness(.9);
}

.btn-myRecipes:hover {
    filter: brightness(.9);
}

.profil form label>.asterixRouge {
    position: absolute;
    top: 0px;
    right: -8px;
}

.profil form {
    display: flex;
    flex-direction: column;
}

.profil form .inputsClassiques {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.profil form>div {
    display: flex;
}

.mostLikedRecipe {
    cursor: pointer;
    color: rgb(219, 184, 35);
}

.mostLikedRecipe {
    font-weight: 600;
    color: #24CFAF;
}

.profil__content__data__footer a {
    color: inherit;
    text-decoration: none;
}

.profil__content__data__footer>p {
    margin: 10px 0px;
}

.profil__content__data__header {
    display: flex;
    width: 55%;
    align-items: center;
}

.profil__content__data__header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profil__content__data__header__generals {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.profil__content__data__header__generals--name {
    font-size: 31px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.sousTexte {
    color: #AAB6B6;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.sousTexte i {
    margin-right: 10px;
    color: #21d2b5;
}

.profil__content__data__description {
    margin: 36px 0
}

.profil__content__data__description .sousTexte {
    padding: 36px 17px;
    background-color: #ffffff1a;
    border-radius: 7px;
    margin-top: 5px;
}

.profil__content__data__popular--content {
    padding: 5px 17px;
    background-color: #ffffff1a;
    border-radius: 7px;
    margin-top: 5px;
}

.profil__content__data__description--title {
    display: flex;
    align-items: center;
}

.profil__content__data__description--title i {
    margin-right: 10px;
    color: #21d2b5;
    font-size: 9px;
    border: 1px solid #24CFAF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.profil__content__data__popular img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #24CFAF91;
    border-radius: 7px;
    margin-top: 5px;
}

.profil__content__data__popular a {
    text-decoration: none;
}

.profil__content__data__header__profil {
    position: relative;
    width: fit-content;
}

.profil__content__data__header__profil i {
    position: absolute;
    bottom: 4px;
    right: 3px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    transition-duration: .8s;
}

.profil__content__data__header__profil i:hover {
    background-color: #cb4747;
}

.profil .preview {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

#imageProfil {
    display: none;
}

.myLabel {
    cursor: pointer;
}

.profil__content__data__body>div>div>label {
    color: white;
    font-size: 14px;
}

.profil textarea[name='description'] {
    height: 150px;
    width: 100%;
    resize: none;
    padding: 15px 5px;
    background-color: #292828;
    color: #A8AAAB;
    border: 1px solid rgba(255, 255, 255, .1);
}

.profil input {
    height: 25px;
}

.inputsClassiques>div {
    margin: 5px 0px;
}

.profil__content__data__footer {
    font-size: 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    margin-top: 15px;
}

.profil input {
    padding-left: 5px;
    height: 37px;
    margin: 5px 0 10px;
    outline: none;
    padding-left: 15px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    background-color: #292828;
    color: #A8AAAB;
}

.profil .btn-modifier {
    background-color: #24CFAF;
    color: black;
    font-weight: 500;
    width: fit-content;
    margin-top: 15px;
}



.profil__content__data__body {
    display: flex;
    margin-right: 15px;
    margin-top: 34px;
}

.profil__content__data__body>div {
    margin-right: 30px;
}

.profil__content__data__body>div>div {
    margin: 15px 0px;
}

.profil__content__data__body__description {
    margin-top: 25px;
    color: #484242;
    font-size: 14px;
}

.profil__content__data__body__description>p {
    max-width: 600px;
    margin-bottom: 25px;
}

.profil form button[type='submit'] {
    width: fit-content;
    margin: 10px 0px;
    background-color: #24CFAF;
}