.updateMenu {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-top: 25px;
    color: white;
    padding: 15px;
    border-radius: 7px;
    overflow: hidden;
    margin: auto;
    width: 1300px;
    color: white;
}

.updateMenu>h1 {
    margin: 15px 0px;
    font-size: 20px;
    margin: 15px 0px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: fit-content;
}

.updateMenu>h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: red;
    width: 100%;
}



.clickable:hover {
    border: 2px dotted red;
    cursor: pointer;
    filter: brightness(0.5);
}

.clickable:hover img {
    border: none;
}

.formEtage__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;

}

.formEtage__header__previousPage {
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
    color: #AAB6B6;
}

.formEtage__header h2 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #24CFAF;
}

html .updateMenu>h1 {
    font-weight: 500;
    padding: 6px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-size: 22px;
}


.formEtage__header__previousPage i {
    font-size: 10px;
    padding: 13px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 5px;
}

.formEtage__header:hover {
    filter: brightness(.9);
    cursor: pointer;
}

.updateMenu .formEtape{
    margin-top:0px;
}